<div id="page-content">
  <div class="container mt-4">
    <div class="p-5 bg-primary text-white rounded text-center" id="home-jumbotron">
      <h1>Alpha Blog</h1>
  
      <button type="button" class="btn btn-success">Sign up!</button>
    </div>
  </div>
</div>


<footer id="sticky-footer" class="py-4 bg-dark text-white text-center">
  <div class="container">
    <small>Copyright &copy</small>
  </div>
</footer>
