<div class="container mt-4">
  <div class="p-5 bg-primary text-white rounded text-center" id="home-jumbotron">
    <h1>Alpha Blog</h1>

    <button type="button" class="btn btn-success">Sign up!</button>
  </div>
</div>