<div class="container mt-4">
  <div class="p-5 bg-primary text-white rounded text-center" id="home-jumbotron">
    <h1>Alpha Blog</h1>

    <%= link_to "Sign up!", signup_path, class:"btn btn-success" %>
  </div>
</div>